/*This will ensure that we start with a clean slate where everything is aligned to the left*/
*{
  margin: 0;
}

/*This will ensure that the image will maintain its aspect ratio irrespective of screen size*/
.app__header{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.App{
  background-color: #FAFAFA;
  height: 100vh;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}